table, th, td {
    border: 0px solid;
    text-align: center;
  }

  th {
    background-color: aquamarine;
    color: black;
    text-decoration:dotted;
    line-height: 40px;
  }

  td{
    background-color: aliceblue;
    color: black;
    line-height: 25px;
  }
    